@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>
    This is an implementation of Rock, Paper, Scissors Game. 
    The game is played by two players, one of which or both can be played by the computer. 
    The computer strategy is to select a move ( rock, paper, scissors ) at random.
</p>

<p>
    This is a Microsoft ASP.Net MVC Core solution implemented in C# and uses double dispatch pattern.
    The game logic is in GameEngine class library which is unit tested in GameEngine.Tests
</p>